@model IEnumerable<Course>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <title>Index</title>
</head>
<body>
    <table class="table table-bordered">
       <thead>
           <tr>
               <th>course id</th>
               <th>course name</th>
               <th>duration</th>
           </tr>
         
       </thead>
       <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.CrsId</td>
                    <td>@item.CrsName</td>
                    <td>@item.Duration</td>
                </tr>
            }
       </tbody>
    </table>
</body>
</html>
