<!DOCTYPE html>
<html>
<head>
 <!--<meta name="author" content="Wink Hosting (www.winkhosting.com)" />-->
 <meta name="Christopher Ottersen" content="Red Tie Template updated for HTML 5"/>
 <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
 <!-- This will be relative to wwwroot file -->
 <link rel="stylesheet" href="~/images/style.css" type="text/css" />
    

 <title>RedTie</title>
</head>
<body>
 
 
 <figure>
 <img src="images/tie_logo.png" alt="RedTie"/>
 <figcaption>RedTie</figcaption>
 </figure>
 <header>
 <address>
 <ul>
 <li><b>Your Company Name</b></li>
 <li>Evergreen Terrace 742</li>
 <li>Kansas Missouri</li>
 <li>Phone: 432-653-3121</li>
 <li><a href=
"mailto:sales@thetiecompany.com">sales@thetiecompany.com</a></li>
 </ul>
 </address>
 <nav>
 <ul>
 <li><a href=
"index.html">Home</a></li>
 <li><a href=
"#">Sitemap</a></li>
 <li><a href=
"mailto:sales@thetiecompany.com">Contact Us</a></li>
 </ul>
 </nav> 
 </header>
 <nav id=
"menu">
 <ul>
 <li><a href=
"index.html">Home</a></li>
 <li><a href=
"#">About Us</a></li>
 <li><a href=
"#">Products</a></li>
 <li><a href=
"#">Our Services</a></li>
 <li><a href=
"mailto:sales@thetiecompany.com">Contact Us</a></li>
 </ul>
 </nav>
 <nav id=
"submenu">
 <ul>
 <li><a href=
"#">Submenu 1</a></li>
 <li><a href=
"#">Submenu 2</a></li>
 <li><a href=
"#">Submenu 3</a></li>
 <li><a href=
"#">Submenu 4</a></li>
 <li><a href=
"#">Submenu 5</a></li>
 <li><a href=
"#">Submenu 6</a></li>
 </ul>
 </nav>
 
 <hgroup>
 <h1>Welcome to RedTie!</h1>
 </hgroup>
 <aside>
 <h2>News</h2>
 <dl>
 
 <dt>September 27, 2006</dt> 
 <dd>
 <p>
 Curabitur arcu tellus, suscipit in, aliquam eget, ultricies id, 
 sapien. Nam est.
 </p>
 <a href=
"#">More...</a>
 </dd>
 <dt>September 27, 2006</dt> 
 <dd>
 <p>
 Curabitur arcu tellus, suscipit in, aliquam eget, ultricies id, 
 sapien. Nam est.
 </p>
 <a href=
"#">More...</a>
 </dd>
 <dt>September 27, 2006</dt> 
 <dd>
 <p>
 Curabitur arcu tellus, suscipit in, aliquam eget, ultricies id, 
 sapien. Nam est.
 </p>
 <a href=
"#">More...</a>
 </dd>
 
 
 </dl>
 </aside>
 <section>
 <article>
 <!-- Render Body -->
 @RenderBody()
 <!-- End Render BOdy -->
 </article>
 </section>
 
 <footer>
 <nav>
 <ul>
 <li><a href=
"index.html">Home</a></li>
 <li><a href=
"#">About Us</a></li>
 <li><a href=
"#">Products</a></li>
 <li><a href=
"#">Our Services</a></li>
 <li><a href=
"mailto:sales@thetiecompany.com">Contact Us</a></li>
 <li>Your Company Name &copy; 2007</li>
 <li><a href=
"http://www.winkhosting.com" target=
"_blank">Hosting
Colombia</a></li>
 </ul>
 </nav>
 </footer>
</body>
@RenderSection("scripts", required: false)
</html>