 @model Department

@{
    Layout = "_Layout1";
}


    <form method="post">

        <label asp-for="DeptId"></label>
        <input asp-for="DeptId" />
       
        <label asp-for="DeptName">Department Name</label>
        <input asp-for="DeptName" />

        <label asp-for="Capacity">Capacity</label>
        <input asp-for="Capacity" />

        <input type="submit" value="Create" class="btn btn-primary" />

        <a href="/Department/Index" class="btn btn-info">Back</a>
    </form>
   
    


