@model Department
@{
    Layout = "_Layout1";
}


    <div class="container">
        <h2>Department Details</h2>
        <table class="table table-bordered">
            <tr>
                <th>DeptId</th>
                <td>@Model.DeptId</td>
            </tr>
            <tr>
                <th>DeptName</th>
                <td>@Model.DeptName</td>
            </tr>
            <tr>
                <th>Capacity</th>
                <td>@Model.Capacity</td>
            </tr>
        </table>
        <a href="/Department/Index" class="btn btn-info">Back</a>

